.tela-login{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #092042;
  }

.div-login{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #666666;
}

.input-login{
    padding: 15px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #999999;
}

.clear{
    background: transparent;
    border: none;
    align-items: center;
}

.button-login{
    background-color: #DF8021;
    border: none;
    padding: 15px;
    width: -webkit-fill-available;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;

}


